<div class="register-page">
    <br>
    <mat-card  class="signup-form">
      <section class="mat-typography">
        <h3>Sign Up To Track Issue</h3> 
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="createSignupForm" >
        <mat-form-field class="field-full-width">
          <input matInput placeholder ="First Name*" formControlName="firstName" #firstName>
        </mat-form-field>
        <mat-error *ngIf="(createSignupForm.get('firstName').touched) && createSignupForm.get('firstName').errors?.required">
          First name is required 
        </mat-error>
        <mat-form-field class="field-full-width">
          <input matInput placeholder ="Last Name" formControlName="lastName" #lastName>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input matInput placeholder ="Email*" formControlName="email" #email>
        </mat-form-field>
        <mat-error *ngIf="(createSignupForm.get('email').touched) && createSignupForm.get('email').errors?.required">
          Email is required 
        </mat-error>
        <mat-error *ngIf="(createSignupForm.get('email').touched) && createSignupForm.get('email').errors?.pattern">
          Enter a valid email address
        </mat-error>
        <mat-form-field class="field-full-width">
          <input matInput placeholder ="User Name*" formControlName="userName" #userName>
        </mat-form-field>
        <mat-error *ngIf="(createSignupForm.get('userName').touched) && createSignupForm.get('userName').errors?.required">
          User Name is required 
        </mat-error>
        <mat-form-field class="field-full-width">
            <input matInput placeholder ="Password*" [type]="hide ? 'password' : 'text'" formControlName="password" #password>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-error *ngIf="(createSignupForm.get('password').touched) && createSignupForm.get('password').errors?.required">
          Password is required 
        </mat-error>
        <mat-error *ngIf="(createSignupForm.get('password').touched) && (createSignupForm.get('password').errors?.minlength || createSignupForm.get('password').errors?.maxlength)">
          Password Length should be greater than 5 and less than 32 .
        </mat-error>
      </form>
      <br>
       <button type="submit"  (click)="signupFunction()"
       [disabled]="(createSignupForm.pristine ||createSignupForm.invalid)" 
       mat-raised-button class="btn btn-secondary" >Sign Up</button> &nbsp;&nbsp;&nbsp;
       <button mat-raised-button class="btn btn-secondary" (click)="goToLogin()">Sign In</button>
    </mat-card>
  </div>

     
     