.field-full-width{
    width: 100%;
}
.response-reset-form{
    min-width: 150px;
    width: 48%;
    margin: auto;
    background: #F2F5F8;
  }
  .show{
      display: inline;
  }
  @media only screen and (max-width: 600px) {
    .response-reset-form{
        width: 98%;
    }
 }   