<br>
<mat-hint *ngIf="CurrentState=='Wait'">Errors appear instantly!</mat-hint>
<mat-hint *ngIf="CurrentState=='NotVerified'">Invalid URL.</mat-hint>
<mat-card  class="response-reset-form" *ngIf="CurrentState=='Verified'">
    <section class="mat-typography">
      <h3 >Set New Password</h3> 
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="ResponseResetForm" >
      <mat-form-field class="field-full-width">
        <input matInput placeholder ="Password"  type="password" formControlName="newPassword" #newPassword>
      </mat-form-field>
      <mat-error *ngIf="!ResponseResetForm.get('newPassword').valid && !IsResetFormValid">
            Password is required with atleast 4 characters.
      </mat-error>
      <mat-form-field class="field-full-width">
        <input matInput placeholder ="Confirm Password" type="password" formControlName="confirmPassword" #confirmPassword>
      </mat-form-field>
      <mat-error *ngIf="ResponseResetForm.get('confirmPassword').valid && (ResponseResetForm.get('confirmPassword').value != ResponseResetForm.get('newPassword').value) && !IsResetFormValid">
            Confirm Password does not match with password.
      </mat-error>
      <button type="submit" class=" btn btn-primary" 
      (click)="ResetPassword(ResponseResetForm)">Update Password</button>
    </form>
</mat-card>

